<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="iocSection" type="FFCG.SSIS.Tools.Logic.Implementation.InversionOfControlSection, FFCG.SSIS.Tools.Logic" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <services>
      <service name="FFCG.SSIS.Service.Logic.Implementation.SqlServerIntegrationServicesService" behaviorConfiguration="ServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="FFCG.SSIS.Service.Contract.Interface.ISqlServerIntegrationServicesService" bindingConfiguration="basicHttpBinding_configuration">
          <!--<identity>
            <dns value="localhost"/>
          </identity>-->
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_configuration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1014400" maxBufferPoolSize="524288" maxReceivedMessageSize="1014400" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
      </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <iocSection>
    <iocMappings>
      <!-- TOOLS LIB-->
      <iocMapping interface="FFCG.SSIS.Tools.Logic.Interface.IObjectProvider, FFCG.SSIS.Tools.Logic" implementation="FFCG.SSIS.Tools.Logic.Implementation.ObjectProvider, FFCG.SSIS.Tools.Logic" />

      <!-- CORE LIB -->
      <iocMapping interface="FFCG.SSIS.Core.Data.Interface.IIntegrationServicesContext, FFCG.SSIS.Core.Data" implementation="FFCG.SSIS.Core.Data.Implementation.IntegrationServicesContext, FFCG.SSIS.Core.Data" />
      <iocMapping interface="FFCG.SSIS.Core.Contract.Interface.IUnitOfWork, FFCG.SSIS.Core.Contract" implementation="FFCG.SSIS.Core.Logic.Implementation.UnitOfWork, FFCG.SSIS.Core.Logic" />

      <!-- SERVICE -->
      <iocMapping interface="FFCG.SSIS.Service.Contract.Interface.ISqlServerIntegrationServicesService, FFCG.SSIS.Service.Contract" implementation="FFCG.SSIS.Service.Logic.Implementation.SqlServerIntegrationServicesService, FFCG.SSIS.Service.Logic" />
    </iocMappings>
  </iocSection>
  
  <connectionStrings>
    <add name="IntegrationServicesContext" connectionString="data source=.;initial catalog=SSISDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>